<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { margin: 20px auto; padding: 20px; width: 300px;
          border: 1px solid gray; box-shadow: 5px 5px 5px #aaa; }
    /* p { font-size: 15pt; color: blue; } */
    input { padding: 5px;}
    select { padding: 5px; font-size: 10pt; width: 150px; }
    label { font-size: 14pt; }
  </style>
</head>
<body>
  <div id="app">
      <h1>입력 양식</h1>
      <div>
        <input type="text" v-model="title" placeholder="이름을 입력하세요"/>
        <br><br>
        <label>
          <input type="radio" value="male" v-model="choice" /> 남자
        </label>
        <label>
          <input type="radio" value="female" v-model="choice" /> 여자
        </label>
        <br><br>
        <select v-model="select" value=""><option value="">전공을 선택하세요</option>
            <option value="소프">소프트웨어공학</option>
            <option value="정통">정보통신공학</option>
            <option>blue</option>
            <option>red</option>
        </select>
        <br><br>
        <input type="checkbox" v-model="value" /> 활성화
      </div>
      <hr />
      <p>이름: {{ title }}</p>
      <p>성별: {{ choice }}</p>
      <p>전공: {{ select }}</p>
      <p>활성화: {{ value }}</p>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        title: '',
        choice: '',
        select: '',
        value: false
      }
    })
   </script>
</body>
</html>